body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    display: flex;
    margin-bottom: 100px;
}

/*---------------------
------top section------
----------------------*/
.top-section {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}


.half-width {
    width: 50%;
    padding-left: 5%;
}

.first-image {
    padding-left: 260px;
    width: 60%;

}

.hire-me-button {
    color: whitesmoke;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}


/*---------------------
-----dream section-----
----------------------*/
.dream-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.second-image {
    width: 70%;
}